In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
def read_result(path, name):
    df = pd.read_csv(path)
    df['just_type'] = name
    df['time'] = df['time'] / 1000.0
    return df

style = dict(capsize=0.04, errwidth=1.2, ci='sd')

In [21]:
df1 = read_result("./evaluation/evaluation_final/results_exact.txt", "Exact")
df2 = read_result("./evaluation/evaluation_final/results_con_exact.txt", "Exact Parallel")


# df1 = read_result("./evaluation/evaluation_comparison/results_approx.txt", "approx_0_01")
# df2 = read_result("./evaluation/evaluation_comparison/results_approx_exp.txt", "approx_exp_0_01")
# df3 = read_result("./evaluation/evaluation_comparison/results_exact.txt", "exact")
# df4 = read_result("./evaluation/evaluation_comparison/results_exact_exp.txt", "exact_exp")

In [22]:
df1

,type,dafNodes,repetition,time,justification,peafNodes,iteration,attacks,supports,just_type
0,barabasi,3,4,0.110,0.152922,4,8.0,3,4,Exact
1,barabasi,3,7,0.102,0.062354,4,8.0,3,4,Exact
2,barabasi,3,11,0.102,0.237297,4,8.0,3,4,Exact
3,barabasi,3,6,0.103,0.005552,4,8.0,3,4,Exact
4,barabasi,3,12,0.105,0.000729,4,8.0,3,4,Exact
...,...,...,...,...,...,...,...,...,...,...
1195,barabasi,6,47,665.637,0.598255,12,511808.0,8,22,Exact
1196,random,6,72,503.696,0.524685,12,511808.0,8,22,Exact
1197,barabasi,6,36,810.945,0.460387,12,511808.0,8,22,Exact
1198,watts,6,12,467.317,0.805512,12,511808.0,9,22,Exact
1199,watts,6,84,392.056,0.091705,12,511808.0,9,22,Exact

In [23]:
def compare_frames(d1, d2):
    d1_o = d1[d1.repetition == d2.repetition][d1.type == d2.type]
    d2_o = d2[d1.repetition == d2.repetition][d1.type == d2.type]
    if (np.max(df1_o.repetition - df2_o.repetition) != 0):
        raise ValueError("The repetition numbers of these frames don't match!")
    return d1_o.justification - d2_o.justification

In [24]:
df1_o = df1[df1.repetition == df2.repetition][df1.type == df2.type]

/tmp/ipykernel_1237412/625549006.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1_o = df1[df1.repetition == df2.repetition][df1.type == df2.type]

In [25]:
df2_o = df2[df1.repetition == df2.repetition][df1.type == df2.type]

/tmp/ipykernel_1237412/4075395879.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2_o = df2[df1.repetition == df2.repetition][df1.type == df2.type]

In [26]:
np.max(df1_o.repetition - df2_o.repetition) == 0

True

In [29]:
# df1 = "approx_0_01"
# df2 = "approx_exp_0_01"
# df3 = "exact"
# df4 = "exact_exp"
compare_frames(df1, df2)

/tmp/ipykernel_1237412/2210996539.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d1_o = d1[d1.repetition == d2.repetition][d1.type == d2.type]
/tmp/ipykernel_1237412/2210996539.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d2_o = d2[d1.repetition == d2.repetition][d1.type == d2.type]

7       0.000000e+00
9       0.000000e+00
46      0.000000e+00
91      0.000000e+00
112     0.000000e+00
248     0.000000e+00
284     0.000000e+00
318     0.000000e+00
345    -1.443290e-15
1006   -7.771561e-16
1018    1.665335e-15
1055    8.881784e-16
Name: justification, dtype: float64

In [11]:
# df1 = "approx_0_01"
# df2 = "approx_exp_0_01"
# df3 = "exact"
# df4 = "exact_exp"
compare_frames(df2, df3).describe()

NameError: name 'df3' is not defined

In [36]:
compare_frames(df3, df4).describe()

/var/folders/xn/9lbng__j71lg6_6ghrfh77sh0000gn/T/ipykernel_12004/2210996539.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d1_o = d1[d1.repetition == d2.repetition][d1.type == d2.type]
/var/folders/xn/9lbng__j71lg6_6ghrfh77sh0000gn/T/ipykernel_12004/2210996539.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d2_o = d2[d1.repetition == d2.repetition][d1.type == d2.type]

count    130.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: justification, dtype: float64

In [39]:
df1 = read_result("./evaluation/evaluation_tree/results_exact_exp.txt", "exact_exp")
df2 = read_result("./evaluation/evaluation_tree/results_approx_exp.txt", "approx_exp_0_01")
df1.describe()

,dafNodes,repetition,time,justification,peafNodes,iteration
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000
mean,4.000000,50.500000,2.360003,9.842365,8.000000,58037.000000
std,1.000834,28.890155,2.406815,8.079792,2.001669,57756.150196
min,3.000000,1.000000,0.002000,1.322874,6.000000,329.000000
25%,3.000000,25.750000,0.005000,2.304107,6.000000,329.000000
50%,4.000000,50.500000,1.297500,5.863668,8.000000,58037.000000
75%,5.000000,75.250000,4.750250,16.950674,10.000000,115745.000000
max,5.000000,100.000000,7.408000,33.365958,10.000000,115745.000000

In [58]:
df2[df2.dafNodes < 6].shape, df1.shape

((600, 8), (600, 8))

In [71]:
d2 = df2[df2.dafNodes < 6]
d1 = df1
d1.repetition

0        7
1        4
2        3
3        2
4        5
      ...
595     96
596     99
597     97
598     98
599    100
Name: repetition, Length: 600, dtype: int64

,type,dafNodes,repetition,time,justification,peafNodes,iteration,just_type
0,barabasi,3,1,0.248,1.000000,6,278.0,approx_exp_0_01
1,barabasi,3,2,0.251,1.000000,6,278.0,approx_exp_0_01
2,barabasi,3,4,0.254,1.000000,6,278.0,approx_exp_0_01
3,barabasi,3,5,0.257,1.000000,6,278.0,approx_exp_0_01
4,barabasi,3,3,0.270,0.994924,6,394.0,approx_exp_0_01
...,...,...,...,...,...,...,...,...
995,watts,5,64,0.076,0.889283,10,3947.0,approx_exp_0_01
996,watts,5,94,0.018,0.974002,10,1077.0,approx_exp_0_01
998,watts,5,100,0.021,0.977754,10,944.0,approx_exp_0_01
1000,watts,5,99,0.029,0.964211,10,1425.0,approx_exp_0_01
1001,watts,5,96,0.043,0.948267,10,1991.0,approx_exp_0_01