In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def read_result(path, name):
    df = pd.read_csv(path)
    df['just_type'] = name
    df['time'] = df['time'] / 1000.0
    return df

style = dict(capsize=0.04, errwidth=1.2, ci='sd')

In [3]:
df1 = read_result("./evaluation/evaluation_comparison/results_approx.txt", "approx_0_01")
df2 = read_result("./evaluation/evaluation_comparison/results_approx_exp.txt", "approx_exp_0_01")
df3 = read_result("./evaluation/evaluation_comparison/results_exact.txt", "exact")
df4 = read_result("./evaluation/evaluation_comparison/results_exact_exp.txt", "exact_exp")

In [4]:
df1

,type,dafNodes,repetition,time,justification,peafNodes,iteration,just_type
0,barabasi,3,2,1.252,1.000000,4,278.0,approx_0_01
1,barabasi,3,6,4.565,0.954986,4,1755.0,approx_0_01
2,barabasi,3,8,6.193,0.922675,4,2871.0,approx_0_01
3,barabasi,3,5,7.653,0.802078,4,6351.0,approx_0_01
4,barabasi,3,7,8.129,0.765238,4,7186.0,approx_0_01
...,...,...,...,...,...,...,...,...
895,watts,5,100,17.954,0.930941,6,2592.0,approx_0_01
896,watts,5,96,41.160,0.513765,6,9989.0,approx_0_01
897,watts,5,98,32.295,0.864703,6,4686.0,approx_0_01
898,watts,5,97,40.518,0.775718,6,6960.0,approx_0_01
899,watts,5,99,31.638,0.694975,6,8478.0,approx_0_01

In [29]:
def compare_frames(d1, d2):
    d1_o = d1[d1.repetition == d2.repetition][d1.type == d2.type]
    d2_o = d2[d1.repetition == d2.repetition][d1.type == d2.type]
    if (np.max(df1_o.repetition - df2_o.repetition) != 0):
        raise ValueError("The repetition numbers of these frames don't match!")
    return d1_o.justification - d2_o.justification

In [30]:
df1_o = df1[df1.repetition == df2.repetition][df1.type == df2.type]

/var/folders/xn/9lbng__j71lg6_6ghrfh77sh0000gn/T/ipykernel_12004/625549006.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1_o = df1[df1.repetition == df2.repetition][df1.type == df2.type]

In [31]:
df2_o = df2[df1.repetition == df2.repetition][df1.type == df2.type]

/var/folders/xn/9lbng__j71lg6_6ghrfh77sh0000gn/T/ipykernel_12004/4075395879.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2_o = df2[df1.repetition == df2.repetition][df1.type == df2.type]

In [32]:
np.max(df1_o.repetition - df2_o.repetition) == 0

True

In [34]:
# df1 = "approx_0_01"
# df2 = "approx_exp_0_01"
# df3 = "exact"
# df4 = "exact_exp"
compare_frames(df1, df2).describe()

/var/folders/xn/9lbng__j71lg6_6ghrfh77sh0000gn/T/ipykernel_12004/2210996539.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d1_o = d1[d1.repetition == d2.repetition][d1.type == d2.type]
/var/folders/xn/9lbng__j71lg6_6ghrfh77sh0000gn/T/ipykernel_12004/2210996539.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d2_o = d2[d1.repetition == d2.repetition][d1.type == d2.type]

count    181.000000
mean       0.000558
std        0.007704
min       -0.026149
25%       -0.004118
50%        0.000000
75%        0.005126
max        0.020176
Name: justification, dtype: float64

In [35]:
# df1 = "approx_0_01"
# df2 = "approx_exp_0_01"
# df3 = "exact"
# df4 = "exact_exp"
compare_frames(df2, df3).describe()

/var/folders/xn/9lbng__j71lg6_6ghrfh77sh0000gn/T/ipykernel_12004/2210996539.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d1_o = d1[d1.repetition == d2.repetition][d1.type == d2.type]
/var/folders/xn/9lbng__j71lg6_6ghrfh77sh0000gn/T/ipykernel_12004/2210996539.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d2_o = d2[d1.repetition == d2.repetition][d1.type == d2.type]

count    91.000000
mean      0.000049
std       0.005223
min      -0.012422
25%      -0.003810
50%      -0.000650
75%       0.003804
max       0.014799
Name: justification, dtype: float64

In [36]:
compare_frames(df3, df4).describe()

/var/folders/xn/9lbng__j71lg6_6ghrfh77sh0000gn/T/ipykernel_12004/2210996539.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d1_o = d1[d1.repetition == d2.repetition][d1.type == d2.type]
/var/folders/xn/9lbng__j71lg6_6ghrfh77sh0000gn/T/ipykernel_12004/2210996539.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d2_o = d2[d1.repetition == d2.repetition][d1.type == d2.type]

count    130.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: justification, dtype: float64

In [39]:
df1 = read_result("./evaluation/evaluation_tree/results_exact_exp.txt", "exact_exp")
df2 = read_result("./evaluation/evaluation_tree/results_approx_exp.txt", "approx_exp_0_01")
df1.describe()

,dafNodes,repetition,time,justification,peafNodes,iteration
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000
mean,4.000000,50.500000,2.360003,9.842365,8.000000,58037.000000
std,1.000834,28.890155,2.406815,8.079792,2.001669,57756.150196
min,3.000000,1.000000,0.002000,1.322874,6.000000,329.000000
25%,3.000000,25.750000,0.005000,2.304107,6.000000,329.000000
50%,4.000000,50.500000,1.297500,5.863668,8.000000,58037.000000
75%,5.000000,75.250000,4.750250,16.950674,10.000000,115745.000000
max,5.000000,100.000000,7.408000,33.365958,10.000000,115745.000000

In [58]:
df2[df2.dafNodes < 6].shape, df1.shape

((600, 8), (600, 8))

In [71]:
d2 = df2[df2.dafNodes < 6]
d1 = df1
d1.repetition

0        7
1        4
2        3
3        2
4        5
      ...
595     96
596     99
597     97
598     98
599    100
Name: repetition, Length: 600, dtype: int64

,type,dafNodes,repetition,time,justification,peafNodes,iteration,just_type
0,barabasi,3,1,0.248,1.000000,6,278.0,approx_exp_0_01
1,barabasi,3,2,0.251,1.000000,6,278.0,approx_exp_0_01
2,barabasi,3,4,0.254,1.000000,6,278.0,approx_exp_0_01
3,barabasi,3,5,0.257,1.000000,6,278.0,approx_exp_0_01
4,barabasi,3,3,0.270,0.994924,6,394.0,approx_exp_0_01
...,...,...,...,...,...,...,...,...
995,watts,5,64,0.076,0.889283,10,3947.0,approx_exp_0_01
996,watts,5,94,0.018,0.974002,10,1077.0,approx_exp_0_01
998,watts,5,100,0.021,0.977754,10,944.0,approx_exp_0_01
1000,watts,5,99,0.029,0.964211,10,1425.0,approx_exp_0_01
1001,watts,5,96,0.043,0.948267,10,1991.0,approx_exp_0_01